* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  }

  /* Layout */

#app{
  font-family: 'Montserrat', sans-serif;
  background-image: url('/images/nathan-dumlao-505059-unsplash.jpg');
  background-size: cover;
  z-index: -3;
  display: grid;
  grid-template: 'nav main' 100vh
  /10% 90%
}

#home{
  grid-area: main;
  z-index: 3;
  display: grid;
  grid-template: '. table .' auto
    '. plantingMonths .' auto
    '. contents .' 70vh
  /5% 90% 5%;
  color: rgb(32, 32, 32);
  margin: 2em;
  justify-content: center;
}

.navbar{
  grid-area: nav;
  background-color: #000000b4;
  z-index: 3;
  padding: 5px;
}

.home-page{
  grid-area: contents;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.548);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents{
  grid-area: contents;
  display: grid;
  width: 100%;
  grid-template: 'my-garden . view-container'80%
  /25% 5% 70%;
  color: rgb(32, 32, 32);
  margin: 2em 0;
  justify-content: center;
}

.my-garden{
  grid-area: my-garden;
  justify-self: center;
  width: 100%;
  display: grid;
  grid-template: 'h3' 70px
    'garden-list' 100%
    /100%;
      -webkit-box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.78);
  -moz-box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.78);
  box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.78);
}

.view-container{
  grid-area: view-container;
  width: 100%;
  display: grid;
  grid-template: 'month-name month-name month-name' 70px
  'box1 box2 box3' 100%
  /2fr 2fr 2fr;
  justify-self: center;
  -webkit-box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.78);
  -moz-box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.78);
  box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.78);
}

.month-container{
  grid-area: view-container;
  width: 100%;
  display: grid;
  grid-template: 'month-name month-name' 70px
  'box1 box3' 100%
  /2fr 2fr;
  justify-self: center;
  -webkit-box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.78);
  -moz-box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.78);
  box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.78);
}

.background-overlay{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(255, 255, 255, 0.8);
  opacity: 0.5;
  filter:blur(4px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  -moz-filter:blur(4px);
  -webkit-filter:blur(4px);
}

.table{
  grid-area: table;
}

.month-name{
  grid-area: month-name;
}

.box1{
  grid-area: box1;
  border-bottom-left-radius: 3px;
}

.box2{
  grid-area: box2;
}

.box3{
  grid-area: box3;
  border-bottom-right-radius: 3px;
}

.month-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.472);
  padding: 1em;

}

.grid12{
  display: grid;
  grid-template: 'a b c d e f g h i j k l' 50px
  /1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.plantingMonths{
  grid-area: plantingMonths;
}

.info-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Typography */
.box-title{
  text-align: center;
  height: 100%;
  line-height: 70px;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.781);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.month-letter{
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  width: 1fr;
  height: 50px;
}

.table-header{
  border: 0.5px solid rgba(0, 0, 0, 0.472);
  text-align: center;
  line-height: 50px;
  height: 100%;
}

.plantingMonths-header{
  border: 0.5px solid rgba(0, 0, 0, 0.472);
  text-align: center;
  line-height: 50px;
  height: 100%;
}

.garden-list{
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.472);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.veg-body{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.veg-title h1{
  display: flex;
  align-items: space-evenly;
  justify-content: center;
}

.vegList-box{
  text-align: center;
  padding-top: 15px;
 
}
 
.vegNameList{
  text-decoration: none;
  color: black;
  transition: all .2s ease-in-out;
}
.vegNameList:hover{
  font-size: 1.2em;
  transform: scale(1.1); 
}

.info-box h4{
  text-align: left;
}

/* TODO use styling below for forms */

/* .form-label{
  font-size: 1.5em;
  color: white;
}

.form-input{
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px;
  border: 0.5px solid rgba(0, 0, 0, 0.472);
  box-shadow: 1px 2px rgb(131, 131, 131);
} */

/* Icons */
.icon{
  width: 2em;
  height: 2em;
  margin-bottom: 5px;
}

/* Colors */
.summer{
  background-color: rgba(175, 59, 59, 0.856);
}

.autumn{
  background-color: rgba(202, 114, 74, 0.877);
}

.winter{
  background-color: rgba(74, 183, 202, 0.89);
}

.spring{
  background-color: rgba(74, 202, 95, 0.87);
}

.true{
  background-color: #187e38da;
}
.false{
  background-color: rgba(255, 255, 255, 0.781); 
}

/* Animations */
.button{
  margin: 5px;
  font-size: 1.1em;
  color: white;
  border-radius: 3px;
  background-color: #187e38da;
  padding: 7px 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
    -webkit-box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.78);
  -moz-box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.78);
  box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.78);
}

.button:hover {
  background-color: #156b31da;
}

.button:active {
  -webkit-animation: pulsate-bck 0.5s ease-in-out both;
  animation: pulsate-bck 0.5s ease-in-out both;
}

.overlay {
  position: relative;
  outline: none;
  -webkit-box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.78);
  -moz-box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.78);
  box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.78);
}

.overlay:before{
  cursor: pointer;
  outline: none;
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}

.overlay:active{
  -webkit-animation: pulsate-bck 0.5s ease-in-out both;
  animation: pulsate-bck 0.5s ease-in-out both;
}

.overlay:hover:before{
  display: block;
  background-color: rgba(5, 5, 5, 0.13);
}

h3 {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) none;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) none;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-2-13 21:37:4
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-13 8:51:50
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

