* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  }

  /* Layout */

body{
  font-family: 'Montserrat', sans-serif;
  background-image: url('/images/nathan-dumlao-505059-unsplash.jpg');
  background-size: cover;

}

#home{
  display: grid;
  grid-template: '. table .' 30vh
    '. contents .' 70vh
  /5% 90% 5%;
  color: rgb(32, 32, 32);
  grid-gap: 10px;
  margin: 2em;
  justify-content: center;
}

.contents{
  grid-area: contents;
  display: grid;
  width: 100%;
  grid-template: '. my-garden . view-month .'80%
  /5% 1fr  10px 3fr 5%;
  color: rgb(32, 32, 32);
  grid-gap: 10px;
  margin: 2em;
  justify-content: center;
}

.my-garden{
  grid-area: my-garden;
  justify-self: center;
  width: 100%;
  display: grid;
  grid-template: 'h3' 70px
    'garden-list' 100%
    /100%;

}

.view-month{
  grid-area: view-month;
  width: 100%;
  display: grid;
  grid-template: 'month-name month-name month-name' 70px
  'box1 box2 box3' 100%
  /2fr 2fr 2fr;
  justify-self: center;
}

.table{
  grid-area: table;
}

.month-name{
  grid-area: month-name;
}

.box1{
  grid-area: box1;
  border-bottom-left-radius: 5px;
}

.box2{
  grid-area: box2;
}

.box3{
  grid-area: box3;
  border-bottom-right-radius: 5px;
}

.month-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(99, 99, 99);
  padding: 1em;

}

.grid12{
  display: grid;
  grid-template: 'a b c d e f g h i j k l' 50px
  /1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


/* Typography */
.box-title{
  text-align: center;
  height: 100%;
  line-height: 70px;
  font-size: 2em;
  background-color: rgba(255, 255, 255, 0.781);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.month-letter{
  color: black;
  text-decoration: none;
  font-size: 1.2em;

}

.table-header{
  border: 1px solid black;
  text-align: center;
  line-height: 50px;
  height: 100%;
}


.garden-list{
  background-color: white;
  border: 1px solid rgb(99, 99, 99);
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  padding: 1em;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.veg-body{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.veg-title h1{
  display: flex;
  align-items: space-evenly;
  justify-content: center;
}

.vegList-box{
  text-align: center;
  padding-top: 15px;
 
}
 
.vegNameList{
  text-decoration: none;
  color: black;
}
.vegNameList:hover{
  color: #187e38;
  font-size: 1.5em;
}

/* Images */
.icon{
  width: 3em;
  height: 3em;
}




/* Colors */

.summer{
  background-color: rgba(175, 59, 59, 0.856)
}

.autumn{
  background-color: rgba(202, 114, 74, 0.877)
}

.winter{
  background-color: rgba(74, 183, 202, 0.89)
}

.spring{
  background-color: rgba(74, 202, 95, 0.87)
}